# {{ ansible_managed }}

define module{
      module_name      webui
      module_type      webui

      host             {{ shinken_module_webui_host }}
      port             {{ shinken_module_webui_port }}

      auth_secret      {{ shinken_module_webui_auth_secret }}
      allow_html_output  {{ shinken_module_webui_allow_html_output }}
      max_output_length  {{ shinken_module_webui_max_output_length }}
      manage_acl         {{ shinken_module_webui_manage_acl }}
      play_sound         {{ shinken_module_webui_play_sound }}
      login_text         {{ shinken_module_webui_login_text }}
      http_backend       {{ shinken_module_webui_http_backend }}
{% set webui_modules = [] %}
{% if 'auth-cfg-password' in shinken_modules %}
{% set ignored = webui_modules.extend(['auth-cfg-password']) %}
{% endif %}
{% if webui_modules %}
      modules        {{ webui_modules | join(',') }}
{% else %}
      modules
{% endif %}
      remote_user_enable  {{ shinken_module_webui_remote_user_enable }}
{% if shinken_module_webui_remote_user_enable == 1 and shinken_module_webui_remote_user_variable %}
      remote_user_variable
{% endif %}
}
